.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  max-width: 25%;
  background-color: hsl(10, 79%, 65%);
  border-radius: 15px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  color: white;
}
.balance-container h1 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.balance-container h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.balance-container img {
  width: 3rem;
  height: 3rem;
}

@media only screen and (max-width: 375px) {
  .card {
    width: 75%;
    max-width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .balance-container {
    width: 75%;
    max-width: 75%;
  }
}
